/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
/vendor
CLAUDE.md
Gemfile.lock
*.gem
docs/superpowers/
/ralph
.DS_Store
build/macos/AppIcon.iconset/icon_128x128.png
/build
/docs/specs
